<footer class="footer">
  <div class="container">
    <div class="row">

      <!-- Footer Column -->
      <div class="col-lg-3 footer_column">
        <div class="footer_col">
          <div class="footer_content footer_about">
            <div class="logo_container footer_logo">
              <div class="logo">

                  <a href="#"><%= image_tag "logo.png", class: "logo" %>travelix</a>
              </div>
            </div>
            <p class="footer_about_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis vu lputate eros, iaculis consequat nisl. Nunc et suscipit urna. Integer eleme ntum orci eu vehicula pretium.</p>
          
          </div>
        </div>
      </div>

      <!-- Footer Column -->
      <div class="col-lg-3 footer_column"></div>

      <!-- Footer Column -->
      <div class="col-lg-3 footer_column"></div>

      <!-- Footer Column -->
      <div class="col-lg-3 footer_column">
        <div class="footer_col">
          <div class="footer_title">contact info</div>
          <div class="footer_content footer_contact">
            <ul class="contact_info_list">
              <li class="contact_info_item d-flex flex-row">
                <div>
                  <div class="contact_info_icon">
                    <%= image_tag "placeholder.svg", class: "contact_info_icon" %>

                  </div>
                </div>
                <div class="contact_info_text">Da Nang</div>
              </li>
              <li class="contact_info_item d-flex flex-row">
                <div>
                  <div class="contact_info_icon">
                      <%= image_tag "phone-call.svg", class: "contact_info_icon" %>
                  </div>
                </div>
                <div class="contact_info_text">0123-456-789</div>
              </li>
              <li class="contact_info_item d-flex flex-row">
                <div>
                  <div class="contact_info_icon">
                      <%= image_tag "message.svg", class: "contact_info_icon" %>

                  </div>
                </div>
                <div class="contact_info_text">
                  <a href="mailto:contactme@gmail.com?Subject=Hello" target="_top">contactme@gmail.com</a>
                </div>
              </li>
              <li class="contact_info_item d-flex flex-row">
                <div>
                  <div class="contact_info_icon">
                      <%= image_tag "planet-earth.svg", class: "contact_info_icon" %>

                  </div>
                </div>
                <div class="contact_info_text">
                  <a href="#">www.GMO.com</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>
